/* font-family: 'Lato', sans-serif;
font-family: 'Source Serif Pro', serif; */

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #f0f7f9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    font-family: 'Lato', sans-serif
}

h1 {
    width: 85%;
    max-width: 1300px;
    color: #0F3457;
    font-family: 'Source Serif Pro', serif;
    font-size: 4rem;
    margin: 0 0 .6rem 0;
    text-align: left;
    line-height: .9;
}

#entries {
    box-sizing: border-box;
    width: 85%;
    max-width: 1300px;
    background-color: #0F3457;
    padding: 1em 2em;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#search-prompt {
    color: #f0f7f9;
    padding-bottom: .25rem;
    width:100%;
}

#search,
.map-button{
    background-color: #fcfdfd;
    border-radius: 5px;
}

#search-form {
    width: 100%;
}

#tab-bar {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    width: 100%;
}

.title-card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    width: 23%;
    max-width: 200px;
    margin-right: .25em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #176087;
    color: #f0f7f9;
}

.title-card p{
    display: inline-block;
    color: #f0f7f9;
    font-size: 1rem;
    font-weight: 400;
}

.type-title,
.favorites-title{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    margin: .5rem 0;
    color: inherit;
}

#breweries {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1em .75em 0 .75em;
    background-color: #176087;
    border-radius:  0 5px 5px 5px;
}

.active-tab {
    background-color: #53A2BE !important;
    color:#0F3457 !important;
}

.entry-card {
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 1em;
    background-color: #fcfdfd;
    margin-bottom: .75em;
    border-radius: 5px;
}

.name-block {
    box-sizing: border-box;
    width: 60%;
}

.address-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.address-line2 {
    margin-top: 0;
}

.entry-name {
    font-size: 1.5rem;
    margin-bottom: .25em;
    color: #0F3457;
}

a, p{
    margin-top: .25em;
    margin-bottom: 0;
    color: #0F3457;
}

#search-prompt {
    margin-top: 0;
}

.website,
.map-button,
.fav-button,
.savedButton {
    display: inline-block;
    text-decoration: none;
    margin-bottom: .5em;
    padding: .25em;
    background-color: #53A2BE;
    color: #f0f7f9;
    border-radius: 5px;
}

.website {
    margin-right: .5em;
}

.map-button {
    align-self: center;
    margin-top: .5em;
}

.map {
    box-sizing: border-box;
    width: 100%;
    height: 30vw;
    min-height: 300px;
    margin-top: 1em;
    border: 5px solid #53A2BE;
    border-radius: 5px;
}

#definition-tooltips {
    display: none;
}

.tooltip {
    position:absolute;
    top: .5em;
    right: -16em;
    width: 150%;
    max-width: 800px;
    padding: .5em;
    background: #f5f4f4;
    border: 3px solid #2c626b;
    border-radius: 5px;
    z-index: 99;
}

.tooltip p {
    color:#0F3457;
}


/* pseudo-selectors */

.type-title:hover,
.favorites-title:hover,
a:hover,
.map-button:hover,
.fav-button:hover,
.savedButton:hover {
    cursor: pointer;
    color:#FFBC42;
}

.active-tab .type-title:hover,
.active-tab .favorites-title:hover {
    cursor: default;
    color:#0F3457;
}

.tooltip p::selection,
.type-title::selection,
.website::selection,
.map-button::selection,
.fav-button::selection,
.savedButton::selection,
.favorites-title::selection {
    background-color: transparent;
}

/* media queries */

@media(max-width: 770px) {

    .name-block,
    .address-block {
        width: 100%;
    }

    .tooltip {
        width: 150%;
        left: 0;
        top: 2rem;
        font-size: 1.25em;
    }

    .type-title,
    .favorites-title {
        font-size: 1rem;
    }

}

@media(max-width: 450px) {

    #entries {
        width: 95%;
        padding: 1em 1em;
    }

    h1 {
        font-size: 3rem;
    }

    .tooltip {
        width: 200%;
        left: -2em;
    }

    #city,
    #state {
        box-sizing: border-box;
        width: 80%;
        margin-bottom: .5em;
    }

    #search {
        width: 40%;
    }
}

@media(min-width: 1100px) {
    h1, #entries {
        width: 60%;
    }

    .map {
        width: 80%;
        margin: 1em 10% 0 10%;
    }
}


@media(min-width: 2000px) {
    #entries {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .entry-card {
        width: 49.5%;
    }

    .current-map {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .current-map .name-block {
        text-align: center;
    }

    .map {
        width: 60%;
        max-height: 600px;
        margin: 1em 20% 0 20%;
    }

    .tooltip {
        top: .5em;
        right: -21em;
    }

}