/* font-family: 'Lato', sans-serif;
font-family: 'Source Serif Pro', serif; */

body {
    box-sizing: border-box;
    margin: 0;
    background-color: #f0f7f9;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    font-family: 'Lato', sans-serif
}

h1 {
    width: 85%;
    max-width: 1500px;
    color: #0F3457;
    font-family: 'Source Serif Pro', serif;
    font-size: 4rem;
    margin: 0 0 .6rem 0;
    text-align: left;
    line-height: .9;
}

#entries {
    box-sizing: border-box;
    width: 85%;
    max-width: 1500px;
    background-color: #0F3457;
    padding: 1em 2em;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#search-prompt {
    color: #f0f7f9;
    padding-bottom: .25rem;
    width:100%;
}

#search-form {
    width: 100%;
}

#tab-bar {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    width: 100%;
}

.title-card {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;
    width: 23%;
    max-width: 200px;
    margin-right: .25em;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #176087;
    color: #f0f7f9;
}

.title-card p{
    display: inline-block;
    color: #f0f7f9;
    font-size: 1rem;
    font-weight: 400;
}

.type-title{
    display: inline-block;
    width: 100%;
    font-size: 2rem;
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    margin: .5rem 0;
    color: inherit;
}

#breweries {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 1em .75em 0 .75em;
    background-color: #176087;
    border-radius:  0 5px 5px 5px;
}

.active-tab {
    background-color: #53A2BE !important;
    color:#0F3457 !important;
}

.entry-card {
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1em 1em;
    background-color: #fcfdfd;
    margin-bottom: .75em;
    border-radius: 5px;
}

.name-block {
    box-sizing: border-box;
    width: 60%;
}

.address-block {
    box-sizing: border-box;
    width: 30%;
}

.address-line2 {
    margin-top: 0;
}

.entry-name {
    font-size: 1.5rem;
    margin-bottom: .25em;
    color: #0F3457;
}

a, p{
    margin-top: .25em;
    margin-bottom: 0;
    color: #0F3457;
}

#search-prompt {
    margin-top: 0;
}

.website {
    display: inline-block;
    text-decoration: none;
    margin-bottom: .5em;
}

#definition-tooltips {
    display: none;
}

.tooltip {
    position:absolute;
    top: .5em;
    left: 8em;
    width: 150%;
    max-width: 800px;
    padding: .5em;
    background: #f5f4f4;
    border: 3px solid #2c626b;
    border-radius: 5px;
    z-index: 99;
}

.tooltip p {
    color:#0F3457;
}


/* pseudo-selectors */

.type-title:hover {
    cursor: pointer;
}

.tooltip p::selection,
.type-title::selection {
    background-color: transparent;
}

a:hover {
    color: #53A2BE;
}

/* media queries */

@media(max-width: 700px) {
    .name-block,
    .address-block {
        width: 100%;
    }

    .tooltip {
        width: 150%;
        left: 0;
        top: 2rem;
        font-size: 1.25em;
    }

    .type-title {
        font-size: 1rem;
    }

}

@media(min-width: 1100px) {
    h1, #entries {
        width: 60%;
    }
}


@media(min-width: 2000px) {
    #entries {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .entry-card {
        width: 49.5%;
    }

}